# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
wix-tools
*.jsonl